// you can change config here
$colors: #c0392b, #d35400, #f39c12, #27ae60, #16a085, #2980b9, #8e44ad, #2c3e50,
  #7f8c8d !default;

  ul li {
    list-style-type: none; /* 去除无序列表项前的圆点 */
  }
  
  ol li {
    list-style-type: none; /* 保持有序列表项前的数字，默认值就是decimal */
  }
